#points {
    z-index: 4;
    position: absolute;
}

#links {
    z-index: 3;
    position: absolute;
}

#mapvis {
    z-index: 2;
    position: absolute;
}

#tOption {
    color: skyblue;
}

#tOption-a {
    color : black;
}