#points {
    z-index: 5;
    position: absolute;
}

#links {
    position: absolute;
}

.linkImgs {
    z-index: 3;
}

#mapvis {
    position: absolute;
    z-index: 2;
}

#tOption {
    color: skyblue;
}

#tOption-a {
    color : black;
}